@using ElvinExam.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Index";
    int i = 1;
    int num = 0;
    int sum = 0;
    int allSum = 0;
    int f = 0;
    int k = 0;
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Subject</th>
                            @foreach (var month in @Model.Months)
                            {
                                <th scope="col">@month.Name</th>
                            }
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in @Model.Subjects)
                        {
                            num = 0;
                            sum = 0;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@subject.Name</td>

                                @if (subject.Paids != null)
                                {
                                    @if (f != 1 && subject.Name == "Fizika")
                                    {
                                        <td>0</td>
                                        num++;
                                        f++;
                                    }
                                    @if (k != 1 && subject.Name == "Kimya")
                                    {
                                        <td>0</td>
                                        num++;
                                        k++;
                                    }
                                }
                                @if (subject.Paids is null)
                                {
                                    <td>0</td>
                                    num++;
                                }
                                else
                                {
                                    @foreach (var paid in subject.Paids)
                                    {
                                        <td>@paid.Price</td>
                                        num++;
                                        sum = sum + paid.Price;
                                    }
                                }
                                @{
                                    int colNum = 12 - @num;
                                }
                                @if (colNum != 0)
                                {
                                    <td colspan="@colNum" style="visibility:hidden;">@num</td>
                                }
                                <td class="full">@sum AZN</td>
                                @{
                                    allSum = allSum + sum;
                                }
                            </tr>
                            i++;
                        }
                        <tr>
                            <th scope="row" colspan="14">@i</th>
                            <td class="full">@allSum AZN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>