@using ElvinExam.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Index";
    int num = 1;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Subject</th>
                                        <th>Paid</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var subject in @Model.Subjects)
                                    {
                                        <tr>
                                            <td>@num</td>
                                            <td>@subject.Name</td>
                                            @foreach (var setting in subject.Settings)
                                            {
                                                <td>@setting.Price AZN</td>
                                            }
                                            <td>
                                                <a asp-action="CreatePaid" asp-route-id="@subject.Id" class="btn btn-primary">Paid</a>
                                                <a asp-action="UpdatePaid" asp-route-id="@subject.Id" class="btn btn-warning ml-2">Update</a>
                                            </td>
                                        </tr>
                                        num++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

